<!--p>client works!</p-->

<div class="container">
    <div class="card">
        <h3>Clients</h3>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>Shared Key</th>
                    <th>Bussiness ID</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>Data Added</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let client of clients">
                        <td>{{client.shared_key}}</td>
                        <td>{{client.name}}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.phone}}</td>
                        <td>{{client.start_date}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
